body {background-color: RGB(0,130,154)} 

main{ font-family: cursive;
background-color: darkcyan
}

#wrapper {
    width:60%;
     margin: auto;
     margin-top: 30px;

}

.image {
  height: 300px;
   border-image-slice: 15 15 15 15;
border-image-width: 10px 10px 10px 10px;
border-image-outset: 0px 0px 0px 0px;
border-image-repeat: round round; 
border-image-source: url("Images/Project6/Sun.jpg")
  }


 body {
 background-image: url("Images/Project6/sunrise-5863751.png") ;
  background-repeat: no-repeat;
  background-size: 100%;
 }

 ul {
  list-style-image: url('Images/Project6/sun-with-face-2330.png');
}

.specialBorder{
 border-image-slice: 15 15 15 15;
border-image-width: 10px 10px 10px 10px;
border-image-outset: 0px 0px 0px 0px;
border-image-repeat: round round; 
border-image-source: url("Images/Project6/Sun.jpg")
}